

.rookie__options{
   display: flex;
   justify-content: center;
   width: 250px;
   height: auto;
   margin: 10px;
}

.rookie__form {
   display: flex;
   justify-content: center;
  }

label{
    color: white;
    font-size: 20px;
}